$backgroundColor: #E8E8E8;
$cardColor: #DFDFDF;
$hoverCardColor: #C9C9C9;
$primaryTextColor: #121212;
$secondaryTextColor: #454545;
$primaryFontSize: 20px;
$secondaryFontSize: 14px;

p {
  font-size: $primaryFontSize;
  margin: 5px 0px;
}

.app {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $backgroundColor;
  color: $primaryTextColor;
}

.search {
  .helper-text {
    text-align: center;
    font-size: $secondaryFontSize;
  }
  .fields {
    display: flex;
    justify-content: center;
    form {
      display: flex;
      justify-content: center;
    }
  }
  margin: 10px 0px 10px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.description {
  color: $secondaryTextColor;
  font-size: $secondaryFontSize;
  text-overflow: ellipsis;
}

.published {
  color: $secondaryTextColor;
  font-size: $secondaryFontSize;
  margin-bottom: 5px;
}

.image {
  img {
    height: 180px;
    width: 350px;
    object-fit: cover;
  }
}

.select {
  width: 150px;
  height: 300px;
}

.MuiCard-root {
  height: 325px;
  min-width: 280px;
  max-width: 450px;
  background-color: $cardColor !important;
  margin: 10px;
  padding: 10px 15px;
  &:hover {
    background-color: $hoverCardColor !important;
  }
}

.MuiInputBase-input {
  width: 250px;
  height: 25px;
}

.MuiOutlinedInput-input {
  padding: 6px;
}

.MuiButtonBase-root {
  margin-left: 10px;
  margin-right: 20px;
}

.MuiButton-root {
  color: $primaryTextColor;
}

.MuiSelect-select {
  width: 100px;
  padding: 10px;
}